<%= stylesheet_link_tag 'users_index', media: 'all', 'data-turbolinks-track': 'reload' %>

<ul class="user-index">
  <% @users.each do |user| %>
    <li>
      <%= link_to user_path(user), class:"user-container" do %>
        <img src="<%= user.photo %>" alt="" class="photo">
        <div class="name-posts">
          <div class="name">
            <%= user.name %>
          </div>
          <div class="posts">
            <p>Number of posts: <%= user.posts.count %></p>
          </div>
        </div>
      <% end %>
    </li>
  <% end %>
</ul>
