<%# class PostsController < ApplicationController
  def index
    @user = User.find(params[:user_id])
    @posts = @user.posts
  end

  def show
    @post = Post.find(params[:id])
  end
end %>

<%# <%= stylesheet_link_tag 'posts_show', media: 'all', 'data-turbolinks-track': 'reload' %> %>

<div class="post-show-container">
  <div class="post-show">
    <h1><%= @post.title %></h1>
    <span class="user-posts-post-comments-likes">by <%= @post.author.name %></span>
    <p><%= @post.text %></p>
    <p class="user-posts-post-comments-likes posts"> Comments: <%= @post.comments_counter %>, Likes: <%= @post.likes_counter %></p>
  </div>

  <div class="comments">
    <h2>Comments</h2>
    <% @post.comments.each do |comment| %>
      <div class="comment">
        <p><%= comment.text %></p>
      </div>
    <% end %>
  </div>
</div>
